// Colors
$color-main: #043565;
$color-secondary: #F6AE2D;
$color-accent-1: #D56062;
$color-accent-2: #605F5E;
$color-accent-3: #23CE6B;
$color-font: #23231A;

// Fonts
$font-main: 'Merriweather', serif;
$font-secondary: 'Open Sans', sans-serif;

// Headings
h1 {
  font-family: $font-main;
  font-size: 42px;
  color: $color-font;
}

h2 {
  font-family: $font-secondary;
  font-size: 36px;
  font-weight: 300;
  color: $color-font;
}

h3 {
  font-family: $font-secondary;
  font-size: 24px;
}

// Body content
body {
  font-family: $font-main;
  font-size: 14px;
  color: $color-accent-2;
  margin-right: 60px;
  margin-top: 0px !important;

  p {
    line-height: 28px;
  }

  // Body overlay when main navigation is toggled
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: rgba(0,0,0,.50);
  }

  // Main body container
  .main-container {
    min-height: 69vh;
  }

  // Full width yellow strips of text
  .text-strip {
    color: #FFFFFF;
    padding: 47px 15px;
    margin-bottom: 50px;
    background: linear-gradient(rgba(246,174,45,.90),rgba(246,174,45,.90)),url('/themes/msl_sub/images/rawpixel-633856-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &-bottom {
      color: #FFFFFF;
      padding: 47px 15px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  }

  .front-page-panel-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .front-page-panel {
    display: flex;
    width: 100%;
    color: #FFFFFF;

    h3 {
      flex: 1;
      font-family: $font-main;
      padding: 75px 30px;
      line-height: 32px;
    }

    // First front page panel
    &:nth-child(1) h3 {
      background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/themes/msl_sub/images/israel-sundseth-1683-unsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    // Second front page panel
    &:nth-child(2) h3 {
      background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/themes/msl_sub/images/jay-wennington-2065-unsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

// Navigation
aside.navigation {
  background: $color-main;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100vh;
  z-index: 2;
  -webkit-transition: width 300ms ease-in;
  -webkit-transition: width 150ms ease-out;
  -moz-transition: width 300ms ease-in;
  -moz-transition: width 150ms ease-out;
  -ms-transition: width 300ms ease-in;
  -ms-transition: width 150ms ease-out;
  -o-transition: width 300ms ease-in;
  -o-transition: width 150ms ease-out;
  transition: width 300ms ease-in;
  transition: width 150mx ease-out;

  li {
    display: inline-block;
    width: 100%;
  }

  a {
    color: #FFFFFF;
    padding: 15px;
    white-space: nowrap;

    &.active {
      color: $color-secondary;
      pointer-events: none;
    }

    &:hover {
      color: $color-secondary;
      background: transparent;
    }

    &:active {
      color: $color-secondary;
      background: transparent;
    }

    &:focus {
      color: $color-secondary;
      background: transparent;
    }
  }

  // Login/Logout menu item
  #userLog {
    display: inline-block;
    width: 100%;
    height: 60px;

    &:hover {
      text-decoration: none;
    }
  }

  // Main menu items
  .main-menu-item {
    height: 60px;
  }

  // Main menu list item titles
  .main-menu-title {
    display: none;
    padding-left: 14px;
    vertical-align: top;
    margin: 6px 0;
  }

  .navbar-nav {
    margin: 0;
  }

  // Main menu toggle button
  .main-menu-toggle {
    color: white;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
  }

  // Main menu list item icons
  .svg-inline--fa {
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }

  // Login style
  .log-in {
    color: $color-accent-3;

    &:hover {
      color: $color-accent-3;
    }

    &:focus {
      color: $color-accent-3;
    }
  }

  // Logout style
  .log-out {
    color: $color-accent-1;

    &:hover {
      color: $color-accent-1;
    }

    &:focus {
      color: $color-accent-1;
    }
  }
}

// Page header
header {
  .page-header {
    border: none;
  }

  // Front page hero image
  .header-banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.50);
    }
    
    img {
      width: 100%;
      height: auto;
    }
  }
}

// Page footer
footer {
  text-align: center;
  background: $color-font;
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url('/themes/msl_sub/images/max-vertsanov-683738-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  &.footer {
    width: 100%;
    margin-top: 0px;
    border: none;
  }

  h4 {
    color: #FFFFFF;
  }
}

// Announcements
article.announcement {
  position: relative;
  padding: 30px 30px 50px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px $color-accent-2;

  .field--type-timestamp {
    font-family: $font-secondary;
    font-weight: 300;
    position: absolute;
    right: 30px;
    bottom: 15px;
  }
}

.view-announcements .announcement {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px $color-accent-2;

  &:hover {
    box-shadow: 0px 1px 20px 0px $color-accent-2;

    h1 {
      color: $color-secondary;
    }
  }

  &:focus-within h1 {
    color: $color-secondary;
  }

  h1 {
    margin: 0;
    color: $color-main;

    a {
      color: $color-main;

      &:hover {
        text-decoration: none;
        color: $color-secondary;
      }

      &:focus {
        text-decoration: none;
        color: $color-secondary;
      }
    }
  }

  span {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
  }

  p {
    margin-top: 18px;
    margin-bottom: 0px;
  }

  a.announcement-anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Forms and exposed filters
input.form-control,
select.form-control {
  font-family: $font-secondary;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  box-shadow: 0px 1px 4px 0px $color-accent-2;
}

select.form-control {
  min-width: 100px;
}

label[for="edit-sort-by"] {
  font-family: $font-secondary;
  font-weight: 300;
  margin-left: 30px;
  margin-right: 30px;
}

button[type="submit"] {
  color: #FFFFFF;
  background: $color-main;
  border-radius: 0px;
  border-color: $color-main;
  box-shadow: 0px 1px 4px 0px $color-accent-2;

  &:hover {
    color: $color-secondary;
    background: $color-main;
    border-color: $color-main;
  }

  &:focus {
    color: #FFFFFF;
  }
}

.select-wrapper {
  margin-right: 30px;

  &::after {
    color: $color-accent-2;
  }
}

// Exposed filter pagination
ul.pagination {
  font-family: $font-secondary;

  li:first-child > a, 
  li:first-child > span,
  li:last-child > a, 
  li:last-child > span {
    border-radius: 0px;
  }

  a {
    color: $color-main;
  }

  .active a {
    color: #FFFFFF;
    background: $color-main;
  }
}

// Media queries
@media (max-width: 1060px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .front-page-panel-wrapper {
    display: flex;
  }
}

@media (max-width: 768px) {
  .front-page-panel-wrapper {
    display: block;
  }

  .front-page-panel {
    display: block;
    color: #FFFFFF;

    h3 {
      flex: 0;
      padding: 30px;
      background: $color-accent-2;
    }
  }

  label[for="edit-sort-by"] {
    margin-left: 0px;
  }
}