// Colors
$color-main: #043565;
$color-secondary: #F6AE2D;
$color-accent-1: #D56062;
$color-accent-2: #605F5E;
$color-font: #23231A;

// Fonts
$font-main: 'Merriweather', serif;
$font-secondary: 'Open Sans', sans-serif;

// Headings
h1 {
  font-family: $font-main;
  font-size: 42px;
}

h2 {
  font-family: $font-secondary;
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-family: $font-secondary;
  font-size: 28px;
}

// Body content
body {
  font-family: $font-secondary;
  font-size: 18px;
  color: $color-font;
  margin-right: 60px;

  p {
    line-height: 28px;
  }
}

// Navigation
aside.navigation {
  background: $color-main;
  position: fixed;
  top: 0;
  right: 0;
  // width: 75px;
  width: 60px;
  height: 100vh;
  z-index: 2;
  // padding: 30px 35px;

  li {
    display: inline-block;
    width: 100%;

    a {
      color: #FFFFFF;

      &.active {
        color: $color-secondary;
      }

      &:hover {
        color: $color-secondary;
        background: transparent;
      }

      &:active {
        color: $color-secondary;
        background: transparent;
      }

      &:focus {
        color: $color-secondary;
        background: transparent;
      }
    }

    .menu-title {
      display: none;
      padding-left: 14px;
    }
  }

  .main-menu-toggle {
    color: white;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .svg-inline--fa {
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}